@import "./colors";
@import "./common";

.whoWeAre {
  color: white;
  background-color: $body-blue;
  padding: $large-padding;
  > * {
    margin-bottom: 8rem;
  }
  &__title {
    & .section-title-three-columns {
      .description {
        font-size: 64px;
        font-weight: 700;
        letter-spacing: -0.5px;
        color: $body-blue;
      }
      .title {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.5px;
        color: $light-blue;
      }
    }
  }
  &__images {
    @extend .row-flex;
    justify-content: space-between;
    .figure {
      width: 70%;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    & > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }
    > .left {
      align-items: flex-start;
      flex-direction: column;
    }
    > .right {
      align-items: center;
    }
  }
}
